@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);

@keyframes pulse {
  0%,100%   { width:100px;height:100px }
  50% { width:110px;height:110px; }
}
img {animation:pulse 1.5s infinite;}

.love {
  font-family:'Libre Baskerville', serif;
  font-size: 140px;
  vertical-align:top;
  margin: 50px auto;
  width:600px;
  text-align:center;
}